body{
	background-image: url(../assets/patron.jpg);
	background-repeat: repeat;
}
main {
	width:1000px;
	min-height: 550px;
	background-color:darkgray;
	position:relative;
	margin:auto;
}
header.principal {
	position:relative;
	width:100%;
	height:210px;
	border-bottom: 1px solid black;
	background-color:rgb(65, 65, 131);
} 
header.principal div.logo{
	position:relative;
	width:150px;
	height:150px;
	border: 1px solid #000;
	top:30px;
	left:24px;
	background-image: url(../assets/mk.jpg);
	background-size: 100%;
	
}
header.principal h1{
	position:absolute;
	top:60px;
	left:200px;
	font-size:40px;
}
nav.nav_horizontal{
	border-bottom: 1px solid #000;
	background-color:rgb(64,70,25);
}
nav.nav_horizontal ul{
	position: relative;
	border:0px;
	margin:0px;
	padding:0px;
}
nav.nav_horizontal li{
	position: relative;
	border:0px;
	margin:0px;
	padding:0px;
	list-style:none;
	display: inline-block;
	vertical-align: top;
}
nav.nav_horizontal li a{
	position: relative;
	padding:10px 20px;
	display: block;
	text-decoration: none;
	color:white;
    font-weight:bold;
}
nav.nav_horizontal li a:hover{ 
	background-color:rgb(156, 115, 39);
	color:#fff;

	}
	nav.nav_horizontal li a:active{ 
		background-color:rgb(100, 110, 28);
		color:#000;
	}

#slideshow{
position: relative;
background-color: #fff;
border: 2px dotted #000;
width: 700px;
height: 250px;
margin: 20px auto;
}
#slideshow button{
	background-color:#ff8420;
	width:50px;
	height: 50px;
	border: 1px solid#c45f0d;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top:100px;
}
button.prev{
	left: -25px;
	}
button.next{
	right: -25px;
}
.col {
	display:inline-block;
	border: 1px solid#000; 
	width: 200px;
	min-height: 200px;
	margin:auto;
	background-color: rgba(255,255,255,.7 );
	border: top 2px; 

}.col {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
    width: 328px;
    min-height: 200px;
    background-color: rgba(255,255,255,8);
    border-top:2px solid rgb(6, 180, 20);
    vertical-align:top;
}
.col header{
    text-align: center;
}
.col header img{
    width: 60px;
    height: 60px;
    border: 2px solid #0ca107;
    margin: -30;
    background-color: aliceblue;
    border-radius: 50%;
}
div.cols p{
    padding: 20px;
    text-justify: auto;
}
footer{grid-column:1/4;
    grid-row:3/4;
    height: 50px;
    border-radius: 70%
    padding: 16px;
    text-align: center;
    padding: 16px;
	margin: 6px;
}

  


